######################
# General
######################
tmp/**
tmp/**/*
*.tmp
*.bak
**/target/
**/overlays/
.oracle_jre_usage
**/build
**/out
.gradle

*.class
*.jar
!gradle-wrapper.jar
*.war
*.ear
*.db
*.versionsBackup
*.log
**/*-pom.xml
.yo-rc.json
*.zip

######################
# Windows
######################
Thumbs.db
Desktop.ini

######################
# IDEA
######################
**/*.iml
.idea/*
!.idea/runConfigurations/

######################
# Eclipse
######################
.project
.metadata
bin/**
*.swp
*~.nib
.classpath
.settings/
.externalToolBuilders/
*.launch
